.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: 100%;
    padding: 0 40px;
    background: navy;
}

.logo{
    height: 40px;
    width: 40px;

}

.menu-btn{
    cursor:pointer;
    height: 20px;
    width: 20px;

}

.nav-btn{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
    color: white;

}

.change-user{

    background: white;
    border-radius: 8px;
    color:navy;
    padding: 8px 12px;

    margin: 0 60px 0 200px;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


